   
   <div class="row">
     <div class="col-md-6 mx-auto">
       <form #f="ngForm">
      <div class="form-group">
        <label for="Title">Title</label>
        <input [ngClass]="{
          'is-invalid': title.touched && title.invalid,
          'is-valid': title.touched && title.valid
      }" (change)="log(title)" #title="ngModel" required minlength="3" maxlength="10" pattern="[a-zA-Z0-9]*" [(ngModel)]="newPost.title" id="Title" name="title" class="form-control">
        <div *ngIf="title.invalid && title.dirty">
            <div class="" *ngIf="title.errors.required">
              This field is Required !!
            </div>

            <div class="" *ngIf="title.errors.minlength">
              This field has great than 3 !!
            </div>

            <div class="" *ngIf="title.errors.pattern">
              This field not respect the pattern !!
            </div>
        </div>
       
      </div>

      <div class="form-group">
        <select [(ngModel)]="newPost.myContact" name="myContact" id="" class="form-control">
          <option [ngValue]="type" *ngFor="let type of contactType">{{ type.label }}</option>
        </select> 
      </div>

      <input [(ngModel)]="newPost.subscribe" type="checkbox" name="subscribe"> Subscribe

      <div class="form-group">
        <label for="Body">Body</label>
        <textarea [(ngModel)]="newPost.body" class="form-control" name="Body" id="Body" cols="30" rows="2"></textarea>
      </div>
      
      <button  *ngIf="!edit" class="btn btn-primary btn-block" (click)="addPost(f)"> 
          <i class="fa fa-plus"></i> Add new Post
      </button>

      <button *ngIf="edit" class="btn btn-warning btn-block" (click)="updatePost()"> 
          <i class="fa fa-plus"></i>  Update Post
      </button>
      
      {{ newPost | json }}

    </form>
     </div>
   </div>


  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let post of myPosts; index as i">
      
      <div class="card">
        <img class="card-img-top" src="https://placeimg.com/640/480/any" [alt]="post.title">
        <div class="card-body">
          <h4 class="card-title">{{ post.title | extrait:20 }}</h4>
          <p class="card-text">{{ post.body | extrait: 100 }}</p>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-warning btn-sm mr-2" (click)="editPost(post)">
                <i class="fa fa-pencil"></i> Edit
              </button>
              <button class="btn btn-dark btn-sm" (click)="removePost(i, post.id)">
                  <i class="fa fa-trash"></i> Delete
                </button>
        </div>
      </div>
      
    
    </div>
  </div>